:root{
    --custom-bg-color: #EEEEEE;
}

.container-bg{
    background-color: var(--custom-bg-color);
}

.card{
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.10);
}

.editImgContainer{
    max-width: 350px;
    height: auto;
}

.editImgContainer img{
    max-width: 100%;
    height: auto;
}
