
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #EEEEEE;
}

:root{
    --bgc: #194073;
    --main: #2351BC;
    --secondary: #FFC300;
    --dec:#6F0619;
    --do: #897014;
}

/* Estrellas*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
