/*
CSS general
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: seashell;
}

:root{
    --bgc: #194073;
    --main: #2351BC;
    --secondary: #FFC300;
    --dec:#6F0619;
    --do: #897014;
}
/*
Barra de navegacion
*/

.nav ul{
    list-style: none;
    background-color: var(--bgc);
    text-align: center;
    display: inline-flexbox;
    padding: 0;
    margin: 0 auto;
}

.nav li{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid var(--secondary);
}

.nav a{
    text-decoration: none;
    color: white;
    display: block;
    transition: all 0.7s;;
}
.nav label{
    text-decoration: none;
    text-overflow: break-word;
    color: white;
    display: block;
    transition: all 0.7s;;
}
.nav a:hover{
    color: white;
    background-color: var(--main);
}

@media screen and (min-width: 600px) {
    .nav li {
        border-bottom: none;
        font-size: 1.4em;
        display: inline-block;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .nav > * {
        padding: 2%;
    }
    .mainPage{
        /*background-color: var(--secondary);*/
        display: grid;
    }
}
/*
El contenedor principal de la pagina que muestra la lista de personas y la parte de buscar
*/
.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2%;
    margin: auto;
}

.btn{
    background-color: var(--bgc);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    border: 1px solid var(--main);
    background-color: white;
    color: var(--main);
}

#listaAsesores::-webkit-scrollbar
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
    display: none;
}
.listaAsesores{
    width: 80%;
    max-height: 70%;
    overflow-y: scroll;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.card{
    max-width: 40%;
    min-width: 40%;
    display: flex;
    flex-grow: 1;
    padding: 1em;
    background-color: var(--bgc);
    cursor: pointer;
    transition: all 1s;
    overflow-y: scroll;
    margin: auto;
}
.sec-card{  
    align-content: start;
    text-align: center;    
    margin: auto 0;
    margin-top: 1px;
}
.sec-card img{
    width: 70%;
}

.sec-card h2 {
    background-color: var(--secondary);
    margin-top: 0.2em;
    border-radius: 1em 1em 0em 0em;
}
.sec-card h3 {
    background-color: var(--do);
    border-radius: 0em 0em 1em 1em;
}
.sec-card p {
    background-color: var(--do);
    border-radius: 0em 0em 1em 1em;
}
.sec-card > *{
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: left;   
    margin: auto 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.card:hover{
    transform: scale(1.05);
}

.card::-webkit-scrollbar
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    display: none;
}

/*Resposive card*/
@media screen and (max-width: 1300px) {
    .card{
        display: flex;
        flex-direction: column;
        background-color: var(--dec);
    }
    .card img{
        width: 5em;
    }
}

/*
Mi Perfil
*/

.infoContainer{
    background-color: #194073;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}
.infoContainer h2{
    color: #F5F5F5;
}
.editInfoContainer{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 15px;
}
.editInfoContainer label{
    color: #000000;
    background-color: #FFC300;
    border-radius: 1em;
    padding: 2%;
}
.editInfoContainer input{
    color: #000000;
    background-color: #897014;
    border-radius: 1em;
    padding: 2%;
    margin-bottom: 0.25rem;
}

.editInfoContainer textarea{
    color: #000000;
    background-color: #897014;
    border-radius: 1em;
    padding: 2%;
    margin-bottom: 0.25rem;
}

.editInfoContainer > * {
    text-align: center;
    font-weight: 300;
  }

span{
    color: gray;
    font-size: small;
}