/*
CSS general
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: seashell;
}

:root{
    --bgc: #194073;
    --main: #2351BC;
    --secondary: #FFC300;
    --dec:#6F0619;
    --do: #897014;
}
